<html>
<head>
    <title> Buy </title>
    <style>
body{
    margin: 0;
    padding: 0;
    background-image: url("/images/image.jpg");
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.login-box{
    width: 320px;
    height: 420px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 15%;
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.login-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
/* .login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #39dc79;
    color: #000;
} */

.login-box a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.login-box a:hover
{
    color: #310517;
}

    </style>
</head>
    <body style="background: url(/images/image.jpg);">
    <div class="login-box">
    
        <h1>Buy a Product</h1>
            <form method="post" action="./buy.ejs">
            <input type="text" name="seller" placeholder="Enter seller ID of the product " required>
            <input type="text" name="product" placeholder="Enter Product name" required>
            <input type="text" name="quantity" placeholder="Qty in KGs" required>
            <!-- <input type="text" name="rate" placeholder="How Qtys do you want to buy "> -->
            <input type="submit" name="submit" value="submit">

            </form>
        </div>
    
    </body>
</html>