<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
   .contact{
                display: flex;
                flex-direction: row;
                justify-content: center;
                text-align: center;
                padding-top: 10%;
            }
        
    </style>
</head>

<body>
    <div class="contact">
      <div class="col-lg-4">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxGVdPF3hkT0D0Q4S58q689Zk0iWrOSmN4yrDcdo6kAJChMLVXQWvweMsk76R0upv3YLU&usqp=CAU" alt="dsce" width="140px">
        <h2 class="fw-normal">Institution</h2>
        <p>Dayananda Sagar College of Engineering (DSCE) is an autonomous college founded in the year1979. It is affiliated to the Visvesvaraya Technological University (VTU), Belgaum and has been approved by AICTE. </p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
       <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmI8hHn9vYAoWz9QhQFSIKJurTeGGcKpTM3Q&usqp=CAU" alt="professor" width="140px">
        <h2 class="fw-normal">Professor</h2>
        <p>Assistant professor <br> Department of MCA <br> DSCE</p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
       <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKTpT3vGTI7XzppY2BdoQw7H6U1KPbyXgs4g&usqp=CAU" alt="student" width="140px">
        <h2 class="fw-normal">Student</h2>
        <p>Student <br> Department of MCA <br> DSCE</p>
      </div><!-- /.col-lg-4 -->
    
    </div>
</body>
</html>