<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placed</title>
    <style>
        body{
            text-align: center;
            padding-top: 10%;
}
        img{
            border-radius: 30%;
        }
    </style>
</head>
<body>
    <div class="box">
        <h1>Your order is in queue</h1>
        <img src="https://i.pinimg.com/originals/ba/3c/c8/ba3cc869f9add08aae7cf382826911c6.gif" alt="Order placed" width="400px">
    </div>
</body>
</html>