<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sale</title>
    <style>
        body{
            text-align: center;
            padding-top: 10%;
}
        img{
            border-radius: 30%;
        }
    </style>
</head>
<body>
    <div class="box">
        <h1>Your product is now on sale</h1>
        <img src="https://media.tenor.com/IBjVQvRBSSYAAAAM/fruits-pineapple.gif" alt="Selling" width="200px">
    </div>
</body>
</html>