<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registered</title>
    <style>
        .check{
            display: block;
            text-align: center;
            padding: 10%;
        }
    </style>
</head>
<body>
    <div class="check">
            <img src="https://img.freepik.com/premium-vector/green-check-mark-icon-symbol-logo-circle-tick-symbol-green-color-vector-illustration_685751-503.jpg?w=2000" alt="Green-Check" width="100px">
            <h1>Registeration Completed Succefully</h1>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSITpM_cMNT6Z0MZ6BLJlTfmPeJwafuo3e27w&usqp=CAU" alt="Details logo" width="100px">
            <form action="./login.ejs" method="post">
                <h2><a href="./login.ejs">Click here to login</a></h2>
            </form>
    </div>
</body>
</html>